#pic{
  max-width:200px;
  float:left;
}
#logo{
  max-width:200px;
}
#pic2{
  max-width:250px;
  float:right;
}

.col-pad{
padding:10px;
}
.row-with-child{
  padding-bottom:10px;
}
.column-pad-right{
  padding-right:5px;

}
.column-pad-left{
  padding-left: 5px;
}
.card-0-left{
  padding-left:0;
}